body {
  font-family: Arial;
  padding:2em;
}

#mapid {
  background: #CCC;
  position: absolute;

  top: 0px;
  bottom: 0px;
  left: 0;

  width: 90em;
}

.right {
  position: absolute;

  top: 2em;
  right: 2em;
  bottom: 0px;

  width: 25%;
}

#states {
  margin: 7px 15px;
}

.alertas{

  display: inline-block;
}